<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">联系我们</h3>
        <span class="is-size-6 is-block" style="aline:center">
            <p>联系人：林经理</p>
            <p>电 话：<a href="tel:15205960587">15205960587</a></p>
            <p>Q Q：<a target="_blank" href="https://wpa.qq.com/msgrd?v=3&uin=845970490&site=qq&menu=yes"><img border="0" style="vertical-align: middle" src="https://wpa.qq.com/pa?p=2:845970490:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            <p>邮 箱：845970490@qq.com</p>
            <p>网 址：www.frtgjs.com</p>
        </span>
        </div>
    </div>
</div>
